/* XQuery Content Management widgets CSS */

.xcm-singular, .xcm-plural {
  display: none;
}

.xcm-search-summary {
  clear:both;
  display: none;
  padding: 0px 0px 10px 10px;
}

.xcm-search-results {
  display: none;
}